@use 'variables' as *;

:root {
  font-family: $font-family;
  font-weight: 300;
  line-height: 1.5;

  // Primary colors
  --clr-primary-hs: 290 43%;
  --clr-primary: hsl(var(--clr-primary-hs) 63%);

  // Secondary colors
  --clr-secondary-hs: 0 100%;
  --clr-secondary: hsl(var(--clr-secondary-hs) 76%);

  --padding: #{$padding};
  --inline-spacing: #{$inline-spacing};

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
}
