@use 'variables' as *;
@use 'breakpoints' as bp;

:root {
  font-family: $font-family;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5;

  --fs-100: 0.6rem;
  --fs-200: 0.7rem;
  --fs-300: 0.8rem;
  --fs-400: 0.9rem;
  --fs-500: 1rem;
  --fs-600: 1.1rem;
  --fs-700: 1.2rem;
  --fs-800: 1.3rem;
  --fs-900: 1.4rem;

  --fs-smaller: var(--fs-200);
  --fs-small: var(--fs-300);
  --fs-normal: var(--fs-500);
  --fs-large: var(--fs-700);

  --fs-h1: 1.8em;
  --fs-h2: 1.6em;
  --fs-h3: 1.4em;
  --fs-h4: 1.2em;

  // Primary colors
  --clr-primary-hs: 290 43%;
  --clr-primary-400: hsl(var(--clr-primary-hs) 53%);
  --clr-primary: hsl(var(--clr-primary-hs) 63%);
  --clr-primary-500: var(--clr-primary);
  --clr-primary-600: hsl(var(--clr-primary-hs) 68%);
  --clr-primary-700: hsl(var(--clr-primary-hs) 75%);

  --clr-link: var(--clr-primary-400);

  --primary-gradient-offset-left: 0%;
  --primary-gradient-offset-right: 100%;
  --primary-gradient-rotation: 300deg;
  --primary-gradient: linear-gradient(
    var(--primary-gradient-rotation),
    var(--clr-secondary) var(--primary-gradient-offset-left),
    var(--clr-primary) var(--primary-gradient-offset-right)
  );

  // Secondary colors
  --clr-secondary-hs: 0 100%;
  --clr-secondary-400: hsl(var(--clr-secondary-hs) 66%);
  --clr-secondary: hsl(var(--clr-secondary-hs) 76%);
  --clr-secondary-500: var(--clr-secondary);
  --clr-secondary-600: hsl(var(--clr-secondary-hs) 81%);
  --clr-secondary-700: hsl(var(--clr-secondary-hs) 86%);

  // Tertiary color
  --clr-tertiary-hs: 0 2%;
  --clr-tertiary-100: hsl(var(--clr-tertiary-hs) 10%);
  --clr-tertiary-200: hsl(var(--clr-tertiary-hs) 20%);
  --clr-tertiary-300: hsl(var(--clr-tertiary-hs) 30%);
  --clr-tertiary-400: hsl(var(--clr-tertiary-hs) 40%);
  --clr-tertiary-500: hsl(var(--clr-tertiary-hs) 50%);
  --clr-tertiary: var(--clr-tertiary-200);

  --tertiary-gradient: linear-gradient(
    305deg,
    var(--clr-tertiary-200) 0%,
    var(--clr-tertiary-100) 100%
  );

  // Grays
  --clr-gray-100: hsl(0, 0%, 10%);
  --clr-gray-200: hsl(0, 0%, 20%);
  --clr-gray-300: hsl(0, 0%, 30%);
  --clr-gray-400: hsl(0, 0%, 40%);
  --clr-gray-500: hsl(0, 0%, 50%);
  --clr-gray-600: hsl(0, 0%, 60%);
  --clr-gray-700: hsl(0, 0%, 70%);
  --clr-gray-800: hsl(0, 0%, 80%);
  --clr-gray-900: hsl(0, 0%, 90%);

  --clr-gray-light: var(--clr-gray-800);
  --clr-gray: var(--clr-gray-600);
  --clr-gray-dark: var(--clr-gray-300);

  // Misc properties
  --padding: 1rem;
  --container-padding: calc(var(--padding) - 0.2em) var(--padding);
  --inline-spacing: #{$inline-spacing};
  --border-radius: 0.3em;

  @include bp.medium {
    font-size: 1.2em;
    --padding: 1.3rem;
  }

  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
}
